= form_for @category, url: {action: :update} do |f|
  = f.label :name
  = f.text_field :name, required: true

  = f.label :category_parent
  = f.select :category_parent, 
    options_from_collection_for_select(@categories, :id, :name), {include_blank: true}

  = f.submit 
