- provide(:title, t(:categories))

%h1= t(:categories)


= link_to t('create_category'), new_auth_admin_category_path
%table.fullWidth
  %thead
    %tr
      %td= t(:name)
      %td= t(:parent)
      %td= t(:options)
    - @categories.each do |category|
      %tr
        %td= category.name
        - if category.category_parent
          %td= category.category_parent.name
        - else 
          %td -
        %td #{link_to t(:show), auth_admin_category_path(category)} | #{link_to t(:edit), edit_auth_admin_category_path(category)} | #{link_to t(:delete), auth_admin_category_path(category), method: :delete, data: {confirm: t('are_you_sure')}}
