%h1= t(:new_category)

= t('for %{n}', n: 3)

= form_for :category, url: {action: :create} do |f|
  = f.label :name
  = f.text_field :name, required: true

  = f.label :category_parent
  = f.select :category_parent_id, 
    options_from_collection_for_select(@categories, :id, :name), {include_blank: true}

  = f.submit 
