- provide(:title, t('accounts'))

.row
  %h1= t('accounts')
.row
  - if @accounts.empty?
    = t('no_accounts_created_yet')
    \.
  - else
    .large-12.columns
      %table.fullWidth
        %thead
          %tr
            %th= t(:user_name)
            %th= t(:email)
            %th= t(:warnings)
            %th= t(:banned)
            %th= t(:options)
        %tbody
          - @accounts.each do |account|
            %tr
              %td= account.user_name
              %td= account.email
              %td= account.warnings
              %td= link_to account.banned?, auth_staff_ban_account_path(account)
              %td
                = link_to t('show'), auth_staff_account_path(account)
                |
                = link_to t('edit'), edit_auth_staff_account_path(account)
                |
                = link_to t('delete'), auth_staff_account_path(account), method: :delete, data: {confirm: 'Are you sure?'}
