%h2= t('welcome_nick', nick: @account.user_name)

%p
  = t('you_have_registered_with_your_email_in_our_service')
  = t('click')
  = link_to t('here'), auth_activate_account_url(@confirmation_token)
  = t('to_active_it')

