%h2= t('hello_nick', nick: @account.user_name)

%p
  = t('Here_is_your_reset_token_link')
  = t('click')
  = link_to t('here'), auth_reset_password_account_url(@reset_token)
  = t('to_reset_your_password')

