- provide(:title, @document.title)
- provide(:keywords, @document.tags)
- provide(:description, truncate(@document.description, separator: ' '))

%h2= @document.title

%p
  %b
    = t('description')
    %br
  = @document.description
%p
  %b
    = t(:category)
    %br
  = @document.category
%p
  %b #{t('uploader')}:
  #{link_to @document.uploader, @document.uploader}


%h3= t('download_section')
= t('this_file_has_been_downloaded_over_n_times', n: @document.downloads.sum(:download_counter))
%table.fullWidth
  %thead
    %tr
      %th= t('name')
      %th= t('file_type')
      %th= t('size')
  %tbody
    - @document.downloads.each do |download|
      - cache(download) do
        %tr
          %td= link_to download.download_file_name, document_download_path(document_id: @document.id, id: download.id)
          %td= download.download_content_type
          %td= number_to_human_size(download.download_file_size)

%h3= t('comments')
.comments
  - comment_number = 1
  - @document.comments.each do |comment|
    .comment-box
      \##{comment_number}
      .comment-body
        = comment.body
      .comment-author{id: "comment_#{comment_number}"}
        %a#comment{id: comment_number}= t('answer_comment')
        = comment.account
        - if comment.account == @document.uploader
          %i (#{t('uploader')})
        - elsif comment.account.staff?
          %i (#{t('staff')})
        - elsif comment.account.admin?
          %i (#{t('admin')})
      - if comment.response
        .comment-box
          = comment.body
        .comment-author
          = comment.account
    - comment_number += 1
.create-comment
  = render 'comments/new'
