- provide(:title, t('new_document'))

.row
  .large-12.columns
    %h2= t('edit_document')

= form_for @document, url: {action: :update}, html: {data: {abide: true}} do |f|
  .row
    .large-12.columns
      = f.label :title do
        = t('title')
        = f.text_field :title, required: true
        %small.error= t('required')
  .row
    .large-12.columns
      = f.label :description do
        = t('description')
        = f.text_area :description, required: true
        %small.error= t('required')
  .row
    .large-12.columns
      = f.label :tags do
        = t('tags')
        = f.text_field :tags, required: true
        %small.error= t('required')
  .row
    .large-12.columns
      = f.label :category do
        = t('category')
        = f.select :category_id, options_from_collection_for_select(Category.all, :id, :name)
  .row
    .large-12.columns
      %h3= t(:downloads)
      - @document.downloads.each do |download|
        .row
          .large-12.columns
            = download.download_file_name
            = link_to t(:delete),  auth_document_download_path(document_id: @document.id, id: download.id), method: :delete, data: {confirm: t(:are_you_sure)}
  .row
    .large-12.columns
      = f.submit t('create_document'), class: 'button'
