- provide(:title, t('my_documents'))

.row
  %h1= t('my_documents')
.row
  - if @documents.empty?
    = t('no_documents_created_yet')
    \.
    = link_to t('click_this_link_to_create_a_document'), new_auth_document_path
  - else
    .large-12.columns
      = link_to t('create_document'), new_auth_document_path
      %table.fullWidth
        %thead
          %tr
            %th= t('title')
            %th= t('description')
            %th= t('options')
        %tbody
          - @documents.each do |document|
            %tr
              %td= document.title
              %td= truncate(document.description)
              %td
                = link_to t('show'), auth_document_path(document)
                |
                = link_to t('edit'), edit_auth_document_path(document)
                |
                = link_to t('delete'), auth_document_path(document), method: :delete, data: {confirm: 'Are you sure?'}
