- provide(:title, t(:step_1) + " - " + t(:new_document))

.row
  .large-12.columns
    %h2= t('new_document')
.row
  .large-12.columns
    %h3= t(:step_1)
.row
  .large-12.columns
    %ul.breadcrumbs
      %li.available= t(:document)
      %li.unavailable= t(:downloads)
= form_for :document, url: {action: :create}, html: {data: {abide: true}} do |f|
  .row
    .large-12.columns
      = f.label :title do
        = t('title')
        = f.text_field :title, required: true
        %small.error= t('required')
  .row
    .large-12.columns
      = f.label :description do
        = t('description')
        = f.text_area :description, required: true
        %small.error= t('required')
  .row
    .large-12.columns
      = f.label :tags do
        = t('tags')
        = f.text_field :tags, required: true
        %small.error= t('required')
  .row
    .large-12.columns
      = f.label :category do
        = t('category')
        = f.select :category_id, options_from_collection_for_select(@categories, :id, :name), include_blank: true
  .row
    .large-12.columns
      = f.submit t(:create_document), class: 'button'
