- provide(:title, t(:step_2) + " - " + t(:new_document))

%h2= t('new_document')

%h3= t(:step_2)

%ul.breadcrumbs
  %li.unavailable= t(:document)
  %li.available= t(:downloads)

= form_for :downloads, url: {controller: :downloads, action: :create}, html: {id: 'new_download'}, multipart: true do |f|
  = f.hidden_field :document_id, value: params[:id]
  = f.label :download do
    = t(:download)
    = f.file_field :download, name: 'downloads[download]', multiple: true

%script#template-upload{type: 'text/x-tmpl'}
  .row
    .large-12.columns
      {%= o.name %}
      .progress.large-12
        %span.meter{style: 'width: 0%'}

= link_to t(:create_document)
