- provide(:title, t('search_results_for_n', n: params[:query]))

= render 'layouts/search'

- unless @results.empty?
  - @results.each do |result|
    .search-result
      %h2= link_to result.title, result
      %div= truncate(result.description)
      %summary
        = t(:created_date_ago, date: time_ago_in_words(result.created_at))
        = t(:by_uploader_html, uploader: link_to(result.uploader, account_path(result.uploader)))
        = t(:in_category_html, category: result.category)

  = paginate @results
- else
  #{t(:n_results_found, count: 0)}
