@import 'base';

html, body {
  height: 100%;
  background: darken(#fff, 10%);
}

nav {
  background: blue;
}

.fullWidth {
  width: 100%;
}

body > section {
  padding-top: 1em;
  min-height: 80%;
}

.realFullWidth {
  @extend .fullWidth;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  min-height: 80%;
}

@import 'categories';
@import 'comments';
@import 'search';
