@import 'foundation/index';

* {
  font-family: 'Lato';
}

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


.top-bar-section ul li>a {
  background-color:white;
}

nav {
  > a {
    font-weight: bold;
    padding: 1em;
    color: #fff;
  }
}


.navigation a {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;

  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  box-shadow: inset 0 5px 0 0 #fff;
}

.hidden {
  visibility: hidden;
}

.js .about_cookies {
  position: fixed;
  bottom: 0;
  color: #000;
  background: #fff;
  @include flexbox;
  padding: 1em;
  width: 100%;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.blue {
  background: blue;
  color: white;
}

.card {
  text-align: center;
  padding: 1em;
  .count {
    font-size: 4em;
  }
  border-radius: 0.5em;
  border: 1px solid #cecece;

  &:hover {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;


}

.hover-info {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -2em;
  left: 50%;
  width: 10em;
  margin-left: -19em;
  display: none;
}

.visible {
  display: block;
}

footer {
  padding: 1em;
  text-align: right;
  background: #000;
  text-transform: uppercase;

  div {
    span {
      &.company {
        border: 1px solid #cecece;
        padding-left: 0.25em;
        margin-right: 0.25em;
        -webkit-transition: all 0.25s ease-in-out;
           -moz-transition: all 0.25s ease-in-out;
             -o-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;


        &:hover {
          border-color: red;
          color: red;
        }
      }
      color: #cecece;
    }
  }
}


.search-bar {
  border: 5px solid #fff;
  border-radius: 5px;

  input[type=search] {
    width: 100%;
    padding: .5em .8em;
    height: 3.5em;
    color: black;
    margin: 0;
    border-radius: 0px;
  }

  button {
    width: 100%;
    height: 3em;
    outline: none;
    font-size: 1em;
    border: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

.alert-box {
  position: fixed;
  top: 3.5em;
  right: 0px;
  min-width: 50%;

  z-index: 1000;
}