@import 'base';
@import 'mixins';

html, body {
  width: 100%;
  height: 100%;
}


#container {
}
.info {
  border-right: 2px solid #121212;
  padding: 1em;

  p {
    text-indent: 1em;
  }

}

aside {
}

.side-info {
  padding: 1em;
}

.middle {
}

#search {
  color: #fff;
  padding-top: 10%;
  @media (max-width: 480px) {
    position: absolute;
    bottom: 0px;
    width: 100%;
    #info {
      display: none;
    }
  }
}

#top {
  background: #008cba; /* Old browsers */
  background: -moz-linear-gradient(top, #008cba 0%, #007095 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008cba), color-stop(100%,#007095)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #008cba 0%,#007095 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #008cba 0%,#007095 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #008cba 0%,#007095 100%); /* IE10+ */
  background: linear-gradient(to bottom, #008cba 0%,#007095 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008cba', endColorstr='#007095',GradientType=0 ); /* IE6-9 */


  width: 100%;
  height: 100%;
}

#company {
  border-top: 10px solid darken(#007095, 10%);
  width: 100%;
  min-height: 50%;
  background: #0B0B0B;
  text-align: justify;

  color: #cecece;
}
