@mixin background-size($cover) {
  -webkit-background-size: $cover;
     -moz-background-size: $cover;
      -ms-background-size: $cover;
       -o-background-size: $cover;
          background-size: $cover;
}
