// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-result {
  background: #fff;
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 1em;
  h2 {
    font-size: 1.5em;
  }

  summary {
    color: lighten(gray, 30%);
    font-size: 0.75em;
  }
}