- provide(:title, t('forgot_password'))

%h2= t('forgot_password')
= form_for :email, html: {data: {abide: true}} do |f|
  .row
    .large-2.columns
      = f.label :email, class: 'inline right'
    .large-10.columns
      = f.email_field :email, required: true
    .large-offset-2.large-10.columns
      = f.submit :send, class: 'button'
