- provide(:title, t('dashboard'))

.row
  #wrapperCard
    .large-4.columns.blue.card
      .count= @documents_count
      =t('documents_created')
    .hover-info
      =link_to t('click_here_to_create_a_document'), new_auth_document_path
