- provide(:title, t('log_in'))

%h2= t('log_in')

= form_for :session do |f|
  .row
    .large-12.columns
      .large-3.columns
        = f.label :email, class: 'inline right'
      .large-9.columns
        = f.email_field :email, required: true
  .row
    .large-12.columns
      .large-3.columns
        = f.label :password, class: 'inline right'
      .large-9.columns
        = f.password_field :password, required: true
  .row
    .large-12.columns
      .large-offset-3.columns
        = f.check_box :remember_me
        = f.label :remember_me
  .row
    .large-12.columns
      .large-offset-3.columns
        = f.submit t('log_in'), class: 'button'

.row
  .large-12.columns
    .large-offset-3.columns
      = link_to t('forgot_password?'), auth_forgot_password_account_path
