- provide(:title, t('register'))

%h2= t('register')

= form_for :account, html: {data: {abide: true}}  do |f|
  = f.label :user_name do
    = t('user_name')
    = f.text_field :user_name, required: true
    %small.error= t('required')
  = f.label :email do
    = t('email')
    = f.email_field :email, required: true
    %small.error= t('required')
  = f.label :password do
    = t('password')
    = f.password_field :password, required: true
    %small.error= t('required')
  = f.label :confirm_password do
    = t('confirm_password')
    = f.password_field :confirm_password, data: {equalto: 'register_password'}
    %small.error= t('mismatch')
  = f.submit t('log_in'), class: 'button'
