- provide(:title, t('reset_password'))

%h2= t('reset_password')
= form_for :passwords, html:{data: {abide: true}} do |f|
  .row
    .large-2.columns
      = f.label :password, class: 'inline right'
    .large-10.columns
      = f.password_field :password, required: true
      %small.error= t('required')
  .row
    .large-2.columns
      = f.label :password_confirmation, class: 'inline right'
    .large-10.columns
      = f.password_field :password_confirmation, required: true, data: {equalto: 'passwords_password'}
      %small.error= t('password_mismatch')
    .large-offset-2.large-10.columns
      = f.submit :send, class: 'button'
