%nav.top-bar{data: {topbar: true}, role: 'navigation'}
  %ul.title-area
    %li.name
      %h1
        %a{href: "/"} Documentation
  %section.top-bar-section.navigation
    %ul.right
      %li=link_to t('discuss'), '#'
      - if signed_in?
        %li.has-dropdown
          =link_to t('documents'), auth_documents_path
          %ul.dropdown
            %li= link_to t('create'), new_auth_document_path
        %li.has-dropdown
          =link_to current_account.user_name, '#'
          %ul.dropdown
            %li= link_to t('dashboard'), auth_root_path
            - if current_account.admin?
              %li= link_to t('admin'), auth_admin_root_path  
            - if current_account.staff?
              %li= link_to t('staff'), auth_staff_root_path
            %li
              = link_to t('log_out'), auth_log_out_session_path, method: :delete
      - else
        %li
          = link_to t('log_in'), auth_log_in_session_path
        %li.has-form
          = link_to t('register'), auth_register_account_path, class: 'button'

