= form_tag({controller: 'searches', action: 'show'}, method: :get, class: 'search-bar') do
  .row
    .large-12.columns
      .row.collapse
        .large-10.columns
          = search_field_tag :query, nil, required: true, autofocus: true, placeholder: t(:search_documents), value: params[:query]
        .large-2.columns
          = button_tag nil, name: nil do
            %i.fa.fa-search
