!!! html
%html
  %head
    %meta{name: "description", content: "#{yield :description}"}
    %meta{name: "keywords", content: "#{yield :keywords}"}
    %title #{yield :title} - Documentation
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css', media: 'all'
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', media: 'all'
    = csrf_meta_tags
  %body
    = render 'layouts/nav'
    %section
      .row.realFullWidth
        .large-2.columns
          &nbsp;
        .large-8.columns
          - flash.each do |type, message|
            .alert-box.radius{data: {alert: true}, class: type}
              = message
              %a.close{href: "#"} &times;
          = yield
        .large-2.columns
          &nbsp;
    = render 'layouts/footer'
    = render 'layouts/cookies'
    = piwik_tracking_tag
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
