!!! html
%html.no-js
  %head
    %meta{name:"viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name:"description", content: ""}
    %meta{name:"keywords", content: ""}
    %title Documentation
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css', media: 'all'
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
    = stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', media: 'all'
    = javascript_include_tag :modernizr
    = csrf_meta_tags
  %body
    %section#top
      = render 'layouts/nav'
      .row
        .large-3.columns &nbsp;
        .large-6.columns
          - flash.each do |type, message|
            .alert-box.radius{data: {alert: true}, class: type}
              = message
              %a.close{href: "#"} &times;
          #search
            = yield
        .large-3.columns &nbsp;
    %section#company
      .row
        .large-9.columns.info
          %h2 What is it about?
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in egestas nulla. Maecenas vel fringilla nisi, ac vestibulum lacus. Morbi metus ligula, auctor id sem non, aliquam feugiat orci. Donec sagittis lobortis tellus, vitae interdum ante faucibus eu. Curabitur id nulla elit. Cras cursus lectus ante, eu convallis lacus viverra at. Nunc ut sagittis tortor, ut tempor quam. Curabitur ac tempor diam. Sed non dolor gravida, sagittis tortor sit amet, dapibus nulla. Sed consequat imperdiet quam fermentum dapibus. Aenean in lacus vehicula, tempor metus convallis, maximus justo. Nulla luctus gravida tristique.
          %p
            Donec dolor sem, tincidunt sit amet mauris tincidunt, pulvinar facilisis ante. In aliquam, lacus mattis interdum pellentesque, turpis sem volutpat metus, sed efficitur velit dui et ex. Quisque ut ultrices magna. Fusce rutrum varius laoreet. Proin sed lacus est. Donec lobortis eget metus id tempus. Nulla tristique nibh elit, in dignissim risus eleifend a. Sed tincidunt ac nunc id elementum. Cras in metus diam. Integer eget sodales urna. Nulla volutpat sollicitudin est, sed laoreet erat sollicitudin pellentesque. Vestibulum scelerisque sed lorem sit amet auctor.

        .large-3.columns.side-info
          %p
            - cache expires_in: 1.hour do
              = t(:n_documents_html, count: Document.count)
          %p
            - cache 'amount_of_categories_cache' do
              = t(:n_categories_html, count: Category.count)
    = render 'layouts/footer'
    = render 'layouts/cookies'
    = piwik_tracking_tag
    = javascript_include_tag 'home', 'data-turbolinks-track' => true
