- provide(:title, @account.user_name)

%h1
  = @account.user_name
  - if @account.admin?
    (Admin)
  - elsif @account.staff?
    (Staff)

%p
  = t('member_since')
  = time_ago_in_words(@account.created_at)

.row
  .large-6.columns
    %h3= t('latest_documents')
    %ul
      - @documents.each do |document|
        %li=link_to document.title, document
  .large-6.columns
    %h3= t('latest_comments')
    %ul
      - @comments.each do |comment|
        %li=link_to comment.body, comment.document
